%h3 Wiki編集履歴

= project_activities_path(@page.project, show_wiki_edits: '1')

%h3 新着コメント

%table
  - WikiComment.recent.limit(10).each do |wiki_comment|
    %tr
      %td= link_to wiki_comment.page, project_wiki_page_path(wiki_comment.page, project_id: 'orehata_tori')
      %td #{time_ago_in_words wiki_comment.created_at}前

= link_to '全てのコメント', wiki_comments_path
