- if @wiki && @wiki.sidebar
  .wiki
    = textilizable @wiki.sidebar.content, :text

/- unless User.current.admin?
= render '/wiki/news'
%br
%br
%br
/ menu
= render partial: 'layouts/menu_bar'
%br
%br
