- if @wiki && @wiki.sidebar
  .wiki
    = textilizable @wiki.sidebar.content, :text

/- unless User.current.admin?
= render '/wiki/news'
%br
%br
%br
/ menu
= render partial: 'layouts/menu_bar'
%br
%br
%h3
  最近発売のゲームタイトル
- releases = Release.recent.limit(2)
- releases.each do |release|
  = release.asin.html_safe if release.asin.present?
  %br
