- if @wiki && @wiki.sidebar
  .wiki
    = textilizable @wiki.sidebar.content, :text
%br
%br
/ soul
%a{:href => "http://www.amazon.co.jp/gp/product/B0166E0NIW/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=247&creative=1211&creativeASIN=B0166E0NIW&linkCode=as2&tag=ayanoochi-22", :rel => "nofollow", :target => "_brank"}
  %img{:border => "0", :src => "http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0166E0NIW&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=ayanoochi-22"}/
  %img{:alt => "", :border => "0", :height => "1", :src => "http://ir-jp.amazon-adsystem.com/e/ir?t=ayanoochi-22&l=as2&o=9&a=B0166E0NIW", :style => "border:none !important; margin:0px !important;", :width => "1"}/

%br
%br
/ doa
%a{:href => "http://www.amazon.co.jp/gp/product/B016MC8C68/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=247&creative=1211&creativeASIN=B016MC8C68&linkCode=as2&tag=ayanoochi-22", :rel => "nofollow", :target => "_brank"}
  %img{:border => "0", :src => "http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B016MC8C68&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=ayanoochi-22"}/
  %img{:alt => "", :border => "0", :height => "1", :src => "http://ir-jp.amazon-adsystem.com/e/ir?t=ayanoochi-22&l=as2&o=9&a=B016MC8C68", :style => "border:none !important; margin:0px !important;", :width => "1"}/

%br
%br
/ star o
%a{:href => "http://www.amazon.co.jp/gp/product/B015E13132/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=247&creative=1211&creativeASIN=B015E13132&linkCode=as2&tag=ayanoochi-22"}
  %img{:border => "0", :src => "http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B015E13132&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=ayanoochi-22"}/
  %img{:alt => "", :border => "0", :height => "1", :src => "http://ir-jp.amazon-adsystem.com/e/ir?t=ayanoochi-22&l=as2&o=9&a=B015E13132", :style => "border:none !important; margin:0px !important;", :width => "1"}/
