- if comments.present?
  #wiki-comments
    %ul
      - comments.reverse_each do |wiki_comment|
        %li
          .pull-right.comment-header
            = I18n.l(wiki_comment.created_at)
          .body
            = wiki_comment.body
  %div{style: 'text-align:center;'}
    = paginate comments, params: {controller: 'wiki_comments', action: 'index'}, remote: true
