- if comments.present?
  #wiki-comments
    %ul
      - comments.reverse_each do |wiki_comment|
        %li
          .pull-right= I18n.l(wiki_comment.created_at)
          = wiki_comment.body
    = paginate comments, params: {controller: 'wiki_comments', action: 'index', page_method_name: 'comment_page'}, remote: true
