$('.comment_note').hide()
- if params[:page] == 'Wiki'
  - comments = WikiComment.where(page: 'wiki').recent
- else
  - comments = WikiComment.where(page: params[:page]).recent
$("#comments").html("#{ j render('/wiki_comments/list', comments: comments)}")
