= content_for :header_tags do
  = stylesheet_link_tag 'boot'
- if request.mobile? || request.smart_phone?
  - content_for :sidebar do
    = render partial: 'layouts/menu_bar'

%h1 このサイトについて

管理人がプレイしたゲームの情報をひたすらまとめていく wiki です。
%br
%br
wikiはどなたでも編集できる状態になっておりますので
%br
もしページを編集して頂けたり、
%br
コメントをいただけるようでしたら幸いです。
%br
%br

= render 'ads_google'
