= content_for :header_tags do
  = stylesheet_link_tag 'boot'

%h1 ゲーム一覧

%ul
  %li= link_to '俺に働けと言われても', root_project_wiki_page_index_path(project_id: 'cl_dungeon_sengoku')
  %Li= link_to 'クラシックダンジョン戦国', root_project_wiki_page_index_path(project_id: 'orehata_tori')
