- if (!request.mobile? && !request.smart_phone?) 
  / google ads 
  .ads_google
    【スポンサードリンク】
    %br
    %script{ async: 'async', src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
    %ins.adsbygoogle.responsive_ads{style: 'display:block', data: { 'ad-client': 'ca-pub-3329113358393775', 'ad-slot': '4333067042', 'ad-format': 'auto'  }}
    %script
      (adsbygoogle = window.adsbygoogle || []).push({});
