/ google ads
%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
%ins.adsbygoogle{"data-ad-client" => "ca-pub-3329113358393775", "data-ad-format" => "auto", "data-ad-slot" => "4333067042", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
