%ul
  %li= link_to 'ゲームタイトル一覧', games_path
  /%li= link_to 'レビュー', reviews_path
  %li= link_to 'このサイトについて', explain_games_path(project_id: params[:project_id])
  %li= link_to '管理人への連絡', new_mail_form_path(project_id: params[:project_id])

  - if params[:project_id] == 'culdcept' || controller_name == 'culdcepts'
    %li= link_to 'カード検索', culdcepts_path
