%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
- # %meta(name="viewport" content="width=device-width, initial-scale=1")
%meta(name="viewport" content="width=960")

-# デスクリプションを不用意に変更されないようにする
%META{CONTENT: 'NOYDIR', NAME: 'ROBOTS'}
%META{CONTENT: 'NOODP', NAME: 'ROBOTS'}

%meta{content: 'summary', name: 'twitter:card'}
%meta{content: '@kappa_ikemen', name: 'twitter:site'}/

- set_meta_tags description: wiki_meta_description
- set_meta_tags keywords: wiki_meta_tags

:ruby
  opg = {
    title: wiki_og_title,
    type: 'website',
    url: 'http://www.orehata-wiki.xyz',
    #image: '/images/nomi.png',
    site_name: wiki_og_title,
    description: wiki_meta_description,
    locale: 'ja_JP'
  }
- set_meta_tags open_graph: opg
= display_meta_tags
